@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Satoshi', sans-serif;
}
.nav-time{
    color: rgb(123,249,126);
}

.navbar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.nav-heading{
    color: #fff;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
}

.navbar{
    background-color: black;
    position: sticky;
    height: 6rem;
    top: 0px;
    z-index: 10;
    padding: 1em;
    width: 100vw;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
.nav-items {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-items a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-items a:hover{
    color: rgb(123,249,126);
    transition: all 0.5s;
}
.body-wrap{
    background-color: black;
    display: flex;
    position: relative;
    z-index: -10;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 3rem;
}
.body-img{
    height: 30rem;
    width: 40rem;
    object-fit: cover;
}

.body-left {
    width: 60%;
    margin: 3rem;
}

.body-h2{ 
    font-size: 45px;
}
.body-p {
    margin-top: 2rem;
    color:rgb(172,175,180) ;
}

.btn{
    background-color: rgb(23, 114, 26);
    width: fit-content;
    margin-top: 7em;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    color: black;
}

.about-wrap {
    position: relative;
    z-index: -10;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 1rem;
    background-color: rgb(231, 231, 231);
 
    font-size: 32px;
}

.about-right {
    min-width: 50%;
    padding: 2rem;
}
.about-img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    margin-right: 4rem;
}
.about-wrap{
    color: black;
}
.container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    align-items: center;
}
.about-h2 {
    font-family: "Montserrat", 'sans-serif';
    font-weight: 500;
}
.about-h3 {
    font-family: "Montserrat", 'sans-serif';
    font-weight: 400;
    font-size: 28px;
}
.about-span{
    color: rgb(23, 114, 26);
    font-size: 20px;
}

.about-p {
    font-size: 16px;
    font-family: "Montserrat",'sans-serif';
    font-weight: 500;
    margin-top: 3rem;
}

.card{
    margin-bottom: 2em;
    border: none;
    padding: 3em;
    border-radius: 4%;
    transition: all 0.5s;
    background-color: rgb(37,38,40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3rem;
}
.hamburger{
    display: none;
}
.card-heading{
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}

.card-para{
    margin-top: 1em;
    color: #fff;
    line-height: 140%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
}

.card-para p {
    font-family: "Montserrat",'sans-serif';
    padding: 1rem;
}

.card-heading h3 {
    font-family: "Montserrat",'sans-serif';

}

.card-sec{
    display: flex;
}

.card:hover{
    background-color: rgb(123,249,126);
    
}

.card:hover .card-heading{
    transform: scale(1.1);
}

.card:hover .card-para{
    transform: scale(1.1);
}
.card:hover .card-heading{
    color: black;
}

.card:hover .card-para{
    color: black;
}

.card-logo{
    color: #fff;
    padding-bottom: 20px;
    font-size: 65px;
    transition: al 0.5s;
}
.card:hover .card-logo{
    color: black;
}

.services-section{
    background-color: black;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-h{
    color: white;
}

.contactus-form-container{
    width: 100%;
    min-height: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading{
    font-size: 5em;
    color: #e84949;
    font-weight: 400;
    padding-top: 2rem;
}

.contactus-subheading{
    font-size: 3rem;
    font-weight: 300;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactus-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container{
    width: 100%;
}

.formfield{
    width: 120%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}

.btn-pink{
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn-pink:hover::before{
    transform: scaleX(1);
}

.btn-pink:hover{
    border: solid 3px #e84949;
    color: black;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    user-select: none;
    color: #535c87;
    font-size: 5em;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover{
    color: #e84949;
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}
.icon:hover {
    color: #e84949;
}
.icon {
    font-size: 2rem;
    color: white;
    transition: all 0.6s;
}

.user-img {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.mobile-nav-items {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    background-color: black;
    position: relative;
    left: -2rem;
    width: 120%;
    padding: 2rem;
    z-index: -111;
    align-items: center;
    transform: all 2s linear;
    transition: all 2s;
    transform-origin: top;
}
.mobile-nav-items a{
    text-decoration: none;
    color: white;
    padding: 2rem;
    font-weight: bold;
    font-size: 25px;
}

.ham-a {
    text-decoration: none;
    color: white;
}

@keyframes scaleImage{
    0%{
        transform: scale(1);
        filter: grayscale(0);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}

@media(max-width:1240px) {
    .body-h2{
        font-size: 25px;
    }
    .body-p{
        font-size: 18px;
    }
    .body-img{
        height: 20rem;
        width: 25rem;
    }
}

@media(max-width: 1035px) {
    .body-wrap{
        flex-direction: column-reverse;
        height: auto;
    }
    .body-img{
        margin-top: 3rem;
    }
    .p2{
        display: none;
    }
    .card-sec{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
        align-items: center;
    }
    .body-left{
        min-width: 100%;
    }
    .body-right{
        min-width: 100%;
    } img{
        min-width: 90%;
    }
    .body-p{
        min-width: 80%;
    }


}

@media(max-width: 850px) {
    .card{
        width: 300px;
    }
    .container-about{
        justify-content: center;
    }
    .hamburger{
        display: block;
        font-size: 49px;
    }
    .nav-items{
        display: none;
    }
    .body-img{
        height: 15rem;
        width: 20rem;
    }
    .user-img {
        height: 35rem;
        width: 15rem;
        padding: 1rem;
        height: auto;
    }
    .about-right{
        min-width: 100%;
    }
    .contactus-heading {
        font-size: 3rem;
    }

    .contactus-subheading{
        font-size: 2rem;
    }
    .link-wrapper{
        flex-direction: column;
    }
    .body-left{
        min-width: 100%;
    }
    .body-right{
        min-width: 100%;
    } img{
        min-width: 90%;
    }
    .body-p{
        min-width: 80%;
    }
}

@media(max-width:600px) {
    .contactus-subheading{
        font-size: 1rem;
    }
    .contactus-heading{
        font-size: 1.5rem;
    }
    .footer-faded-text{
        font-size: 60px;
    }
    .body-p{
        min-width: 90%;
    }
}

@media(max-width:480px) {
    .contactus-subheading{
        font-size: 0.8rem;
        padding-left: 2rem;
    }
    .contactus-heading{
        font-size: 1rem;
        padding-left: 2rem;
    }
    .icon-wrapper{
        flex-direction: column;
    }
    .body-p{
        min-width: 80%;
        /* padding: 0; */
    }
    .about-right{
        padding: 0;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
        min-width: 100%;
    }
    .about-h2{
        font-size: 35px;
        /* margin-left: 1rem; */
    }
    .contactus-form-container{
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
    }
    .btn-pink{
        font-size: 15px;
        padding: 0.7rem 1.5rem;
    }
}